<div class="card" style="max-width: 300px">
    <img style="width: 300px; height: 200px" src="https://picsum.photos/300/200?random{{ product.id }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-subtitle">{{ product.price }}PLN</p>
        <p class="card-text overflow-auto" style="height: 100px">{{ product.description }}</p>
        <a href="{{ path('app_store_product_index', {'id': product.id}) }}" class="btn btn-primary">show</a>
    </div>
</div>