{{ form_start(form) }}
    {{ form_widget(form) }}
    {% for flash_error in app.flashes('verify_product') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>
    let $category = $('#product_category')
    let $properties = $('#product_properties')
    $category.change(updateProps);

    function updateProps() {
        let $form = $(this).closest('form')
        let data = {
            '_type': 'check',
            [$category.attr('name')]: $category.val()
        }
        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : data,
            complete: function(html) {
                $('#product_properties').replaceWith(
                    $(html.responseText).find('#product_properties')
                );
            }
        });
    }

</script>

